<header class="header navbar navbar-expand-lg">
    <div class="container-fluid">

        <!-- Logo dentro del bloque header -->
        <a href="../index.html" class="header__logo">
            <img src="../assets/images/logo.png" alt="Logo" class="header__logo-image">
        </a>

        <!-- Botón de hamburguesa para dispositivos pequeños -->
        <button class="navbar-toggler header__toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navegación principal -->
        <nav class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto header__nav-list">
                <li class="nav-item">
                    <a href="../index.html" class="nav-link header__nav-link" data-page="index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="../views/speakers.html" class="nav-link header__nav-link" data-page="speakers">Speakers</a>
                </li>
                <li class="nav-item">
                    <a href="../views/aboutus.html" class="nav-link header__nav-link" data-page="aboutus">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a href="../views/contact.html" class="nav-link header__nav-link" data-page="contact">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
