<header class="header">
    <!-- Logo -->
    <div class="header__logo">
        <img src="./assets/images/logo_barakaldo.png" alt="Icono oficial de Barakado" class="header__logo--img" />
    </div>

    <!-- Parte blanca -->
    <div class="header__top">
        <div class="header__top__social">
            <ul class="header__top__social__list">
                <li><a href="#" class="header__top__social__list__item"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" class="header__top__social__list__item"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" class="header__top__social__list__item"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" class="header__top__social__list__item"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
        <div class="header__top__lang">
            <select class="header__top__lang__select">
                <option value="es">Español</option>
                <option value="eu">Euskera</option>
                <option value="en">English</option>
                <option value="fr">Français</option>
            </select>
        </div>
    </div>

    <div class="header__bottom">
        <div class="header__bottom__menu">
            <button class="header__bottom__menu__btn">Lugares de interés&nbsp;<i class="fas fa-chevron-down"></i></button>
            <div class="header__bottom__menu__dropdown">
                <a href="#" class="header__bottom__menu__dropdown__item">Museos</a>
                <a href="#" class="header__bottom__menu__dropdown__item">Instalaciones deportivas</a>
                <a href="#" class="header__bottom__menu__dropdown__item">Monumentos</a>
            </div>
        </div>
        <div class="header__bottom__search">
            <i class="fas fa-search"></i>
        </div>

        <!-- Menú para dispositivos móviles -->
        <div class="header__bottom__mobile">
            <i class="fas fa-search"></i>
            <button class="header__bottom__mobile__btn">
                <i class="fas fa-bars"></i>
            </button>
        </div>

        <!-- Panel desplegable para móviles -->
        <div class="header__bottom__mobile__panel">
            <!-- Secciones -->
            <a class="header__bottom__mobile__panel__item">Museos&nbsp;<i class="fas fa-chevron-right"></i></a>
            <a class="header__bottom__mobile__panel__item">Instalaciones deportivas&nbsp;<i class="fas fa-chevron-right"></i></a>
            <a class="header__bottom__mobile__panel__item">Monumentos&nbsp;<i class="fas fa-chevron-right"></i></a>

            <!-- Redes sociales -->
            <div class="header__bottom__mobile__panel__socials">
                <a href="#"></a><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>

            <!-- Cambiar idioma -->
            <div class="header__bottom__mobile__panel__languages">
              <a href="#">ES</a>
              <a href="#">EU</a>
              <a href="#">EN</a>
              <a href="#">FR</a>
            </div>
          </div>

    </div>
</header>
